In [1]:
import pandas as pd

In [2]:
train_data=pd.read_csv("train.csv")

In [28]:
train_data.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         2
1            2         1       1    0  38.0      1      0  71.2833         0
2            3         1       3    0  26.0      0      0   7.9250         2
3            4         1       1    0  35.0      1      0  53.1000         2
4            5         0       3    1  35.0      0      0   8.0500         2

In [8]:
train_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [4]:
train_data["Age"].fillna(train_data["Age"].median(),inplace=True)

In [5]:
train_data["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [6]:
train_data["Embarked"].fillna("S",inplace=True)

In [7]:
cols=["Name","Ticket","Cabin"]
for cols in cols:
    train_data=train_data.drop(cols,axis=1)

In [9]:
test_data=pd.read_csv("test.csv")

In [10]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [14]:
test_data.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [11]:
cols=["Age","Fare"]

In [12]:
for col in cols:
    test_data[col].fillna(test_data[col].median(),inplace=True)

In [13]:
test_data=test_data.drop(["Cabin"],axis=1)

In [15]:
train_data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le=LabelEncoder()

In [18]:
cols=["Sex","Embarked"]
for cols in cols:
    train_data[cols]=le.fit_transform(train_data[cols])

In [19]:
train_data.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         2
1            2         1       1    0  38.0      1      0  71.2833         0
2            3         1       3    0  26.0      0      0   7.9250         2
3            4         1       1    0  35.0      1      0  53.1000         2
4            5         0       3    1  35.0      0      0   8.0500         2

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [24]:
Y=train_data["Survived"]
X=train_data.drop("Survived",axis=1)

In [25]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=50)

In [51]:
lr=LogisticRegression(n_jobs=1,max_iter=1000,random_state=50)

In [52]:
lr.fit(X_train,Y_train)

LogisticRegression(max_iter=1000, n_jobs=1, random_state=50)

In [53]:
predictions=lr.predict(X_test)

In [54]:
from sklearn.metrics import accuracy_score

In [55]:
accuracyscore=accuracy_score(predictions,Y_test)

In [56]:
print(accuracyscore)

0.8097014925373134